* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #e9e9e9;
}

#top-bar {
    min-height: 50px;
    margin-bottom: -50px;
	background: #4b8fcf;
	background: -moz-linear-gradient(top,  #4b8fcf 0%, #2c72b4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b8fcf), color-stop(100%,#2c72b4));
	background: -webkit-linear-gradient(top, #4b8fcf 0%,#2c72b4 100%);
	background: -o-linear-gradient(top, #4b8fcf 0%,#2c72b4 100%);
	background: -ms-linear-gradient(top, #4b8fcf 0%,#2c72b4 100%);
	background: linear-gradient(to bottom, #4b8fcf 0%,#2c72b4 100%);
}

#main-container {
    max-width: 1000px;
    margin: 0 auto;
	
}

#content-container {
    background-color: #ffffff;
	margin: 50px 0;
	/*padding: 2em;*/
	box-shadow:	5px 5px 10px #c7c7c7;
	-moz-box-shadow: 5px 5px 10px #c7c7c7;
	-webkit-box-shadow: 5px 5px 10px #c7c7c7;
	overflow: auto;
	float: left;
	width: 100%;
}

#padded-container {
	padding: 2em;
	overflow-y: auto;
}

/** ---------- Header ---------- */

header {
	overflow: visible;
	display: block;
}

nav {
	height: 50px;
	float: left;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
	float: left;
}

nav ul a {
	line-height: 50px;
	font-size: 22px;
	padding: 0 0.5em;
	text-decoration: none;
	cursor: pointer;
	width: 100%;
}

nav ul li ul {
	display: none;
	background: #3686d2;/*
	background: -moz-linear-gradient(top, #2c72b4 0%, #25629c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c72b4), color-stop(100%,#25629c));
	background: -webkit-linear-gradient(top, #2c72b4 0%,#25629c 100%);
	background: -o-linear-gradient(top, #2c72b4 0%,#25629c 100%);
	background: -ms-linear-gradient(top, #2c72b4 0%,#25629c 100%);
	background: linear-gradient(to bottom, #2c72b4 0%,#25629c 100%);*/
	overflow: auto;
}

nav ul li:hover ul {
	display: block;
}

nav li a,
nav li a:visited,
nav li a:hover {
	color: #DEDEDE;
}

#session-info {
	float: right;
	line-height: 50px;
}

/** ---------- Device List ---------- **/

#add-device-container,
.list-container {
	float: left;
	overflow: auto;
	width: 100%;
}

#add-device-container {
	border-bottom: 2px solid #bababa;
	background-color: #f6f6f6;
	padding: 1em 2em;
}

.list-container {
	border-top: 2px solid #e6e6e6;
}

.list-container ul {
	margin: 0;
	padding: 0;
}

.list-container ul li {
	overflow: auto;
	margin: 1em;
	padding: 1em;
	list-style-type: none;
	background-color: #f6f6f6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.reorder-handle {
	width: 34px;
	height: 8px;
	border-top: 2px solid #a5a5a5;
	border-bottom: 2px solid #a5a5a5;
	cursor: row-resize;
}

.list-container ul li td:not(:first-child) {
	width: 40%;
	font-size: 20px;
	vertical-align: middle;
}

.list-container ul li td:first-child {
	padding-right: 1em;
}

.list-container ul li button {
	float: right;
}


.half-width {
	float: left;
	width: 50%;
	
}

/** ---------- Forms ---------- **/

input.invalid {
	border: 1px solid #DD4B39;
}

.form-element {
	margin-bottom: 1em;
	overflow-y: auto;
}

.form-element label {
	width: 100%;
	float: left;
	margin-bottom: 0.2em;
}

label.error {
	color: #DD4B39;
	margin-top: 0.1em;
}

/** ---------- Buttons ---------- **/

.blue-button {
	padding: 0.7em;
	background-color: #3079ED;
	border: none;
	color: white;
	font: large Arial, sans-serif;
	text-decoration: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	display: inline-block;
}

/** ---------- Jeditable ---------- **/

.jedit-box input {
	height: 23px;
	border: none;
	padding: 0;
}

/** ---------- Typography ---------- **/

body {
	font-family: Arial, sans-serif;
}

h1, h2, h3 {
	font-family: Arial, sans-serif;
	font-weight: normal;
}